<h2>
Other : <%= link_to @other.name, other_path(@other)%>
/ Item: <%= link_to @other_item.name, other_other_item_path(@other, @other_item) %>
/ Adding items into this box
</h2>
<hr>

<div class="bs-example" data-example-id="basic-forms">
  <%= form_for(:other_item_detail, url:  other_other_item_other_item_details_path, html: {multipart: true}) do |f| %>
    <div class="form-group">
      <label>Name</label>
      <%= f.text_field :name, class: "form-control",
                                  placeholder: "Name" %>
    </div>
    <div class="form-group">
      <label>During</label>
      <%= f.text_field :during, class: "form-control",
                                  placeholder: "During" %>
    </div>
    <div class="form-group">
      <label>Place</label>
      <%= f.text_field :place, class: "form-control",
                                  placeholder: "Place" %>
    </div>

    <div class="form-group">
      <label>Author</label>
      <%= f.text_field :author, class: "form-control",
                                  placeholder: "Author" %>
    </div>

    <div class="form-group">
      <label>Translator</label>
      <%= f.text_field :translator, class: "form-control",
                                  placeholder: "Translator" %>
    </div>

    <div class="form-group">
      <label>Postor</label>
      <%= f.text_field :postor, class: "form-control",
                                  placeholder: "Postor" %>
    </div>

    <div class="form-group">
      <label>Source</label>
      <%= f.text_field :source, class: "form-control",
                                  placeholder: "Source" %>
    </div>

    <div class="form-group">
      <label>Description</label>
      <%= f.text_field :description, class: "form-control",
                                  placeholder: "Description" %>

    <div class="form-group">
      <label>Url</label>
      <%= f.text_field :url, class: "form-control",
                                  placeholder: "Url" %>
    </div>

    </div>
      <div class="form-group">
      <label>Image-link</label>
      <%= f.text_field :image_link, class: "form-control",
                                  placeholder: "Image_link" %>
    </div>
    <div class="form-group">
      <label>Image-file</label>
      <%= f.file_field :image_upload, type: :file %>
    </div>

    <div class="form-group">
      <label>Content</label>
      <%= f.text_area :content, class: "form-control tinymce",
                                  placeholder: "Content" %>
    </div>

    <button type="submit" class="btn btn-default">Create
    </button>
  <% end %>
</div>