<ol class="breadcrumb">
  <li><%= link_to "Kinh"%></li>
  <li>
    <%= @book_store.name%>
  </li>
</ol>

<% if logged_in? %>
<div class="bs-example">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="dropdown">
        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
          Action
          <span class="caret"></span>
        </a>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
          <li role="presentation">
            <%= link_to "Add books",  new_book_store_book_path(@book_store)%>
          </li>
          <li role="presentation">
          	<%= link_to "Edit",  edit_book_store_path(@book_store)%>
          </li>
          <li role="presentation">
          	  <%= link_to "Delete", book_store_path(@book_store),
                    method: :delete,
                    data: { confirm: 'Make sure you want to do this?' }%>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
          	
          </li>
        </ul>
      </li>
    </ul> <!-- /pills -->
  </div>
<% end %>

<div class="breadcrumb_retative">
<ol class="breadcrumb breadcrumb_retative bg_breadcrumb">
  <li><%= link_to "Bài liên quan"%></li>
  </ol>
<div class=" bg_white_color breadcrumb_retative">
<% @book_store.books.sample(10).each do |book| %>
  <div class="thumbnail caption news_title_thumnail">
  <span class="glyphicon glyphicon-pushpin" aria-hidden="true">
  </span>
     <%= link_to book.name, book_store_book_path(book.book_store, book) %>
    <div class="small_info_time">
     <%= book.created_at.to_date %>
   </div>
   </div>
<hr>
<% end %>
</div>
</div>

<%= render @books %>

<div class="thumbnail thumbnail_w_h_news_container" data-example-id="simple-thumbnails">
    <%= will_paginate @books%>
</div>