  <% if !rule.image_link.empty? %>
    <% @image = rule.image_link %>
  <% else %>
    <% @image = rule.image_upload.url %>
  <% end %>
<div class="thumbnail thumbnail_w_h_news_container" data-example-id="simple-thumbnails">
        <div class="thumbnail thumbnail_w_h_news">
          <%= link_to (image_tag @image), rule_store_rule_path(rule.rule_store, rule) %>
        </div>
        <div class="caption">
            <%= link_to rule.name, rule_store_rule_path(rule.rule_store, rule)%>
        </div>
        <div >
        <p >
            <%= rule.content.truncate_words(200).html_safe%>
            <%= link_to "Chi tiết", rule_store_rule_path(rule.rule_store, rule), class: "news_detail"%>
        </p>
      </div>
      <div class="small_info_time">
         <%= rule.created_at.to_date %>
        </div>
  </div>
